.mainArrival{
    width: 1,170px;
height: 768px;
top: 4253px;
left: 135px;
gap: 60px;
opacity: 0px;

}

.featured{
    width: 216px;
height: 108px;
gap: 20px;
opacity: 0px;

}
.redfeatured{
    width: 110px;
height: 4px;
gap: 16px;
opacity: 0px;

}
.finalfeatued{
    width: 20px;
height: 40px;
gap: 0px;
opacity: 0px;
display: flex;
padding: 20px;

}
.finalfeatued p{
    width: 20px;
height: 40px;
gap: 0px;
border-radius: 5px 4px 5px 4px;
opacity: 0px;

background-color:#DB4444;

}

.mainfeatured{
    width: 74px;
height: 20px;
gap: 0px;
opacity: 0px;
padding: 25px;
    margin-left: 25px


}
.mainfeatured p{
    color:#DB4444;
/* font-family: Poppins; */
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: left;
font-family: Poppins;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}


.newArrival{
    width: 216px;
height: 48px;
gap: 0px;
opacity: 0px;
padding: 20px;


}

.newArrival p{
    
    margin-top: -33px;
    /* margin-bottom: -5px; */
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.threeimage{
    width: 570px;
height: 600px;
gap: 0px;
opacity: 0px;
}


.leftimage{
    background-color: #000000;   
    width: 511px;
height: 511px;
gap: 0px;
border-radius: 4px 5px 4px 5px; 
opacity: 0px;

margin-left: 25px
}


#leftimg{
    width: 511px;
    height: 511px;
    top: 89px;
    left: 29px;
    gap: 0px;
    opacity: 0px;
    
    
}

.playstation{
    width: Hug (242px)px;
height: Hug (122px)px;
top: 446px;
left: 32px;
gap: 16px;
opacity: 0px;

}
.playstationnnn{
    
    width: Hug (242px)px;
height: Hug (82px)px;
gap: 16px;
opacity: 0px;

}
.playstationnnn p{
    margin-top: -175px;  
    color: #FFFFFF;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.playstationnnn #blackwhite
{
    margin-top: -10px;
}

.playstationnnn{
    width: 242px;
height: 42px;
gap: 0px;
opacity: 0px;
padding: 20px;

}
.playstationnnn #blackwhite{
    color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}


.shoppp{
    width: 81px;
height: 24px;
gap: 0px;
opacity: 0px;
padding: 20px;
margin-top: -165px;

}
.shoppp a {
    /* margin-top: -1px; */
color: #ffffff;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}



.rightimage{
    margin-left: 535px;
    margin-top: -530px;
    width: 570px;
height:600px;
display: flex;
gap: 32px;
opacity: 0px;
padding: 20px;
}

.rightfirstimage{
    width: 570px;
height: 250px;
gap: 0px;
border-radius: 4px 5px 4px 5px;
opacity: 0px;
background-color: #0D0D0D;

}
.rightdiv{
margin-top: -164px;
margin-left: 260px;
border-radius: 4px;

}
#rightimagefirst{
    width: 300px;
height: 250px;
left: 570px;
gap: 0px;
opacity: 0px;

}
.womencollection{
    width: Hug (255px)px;
height: Hug (122px)px;
top: 138px;
left: 24px;
gap: 16px;
opacity: 0px;

}

.womencollectiononly{
    width: Hug (255px)px;
height: Hug (82px)px;
gap: 16px;
opacity: 0px;

}
.womencollectiononly #featuredwomen{
    width: 255px;
    margin-top: -50px;
height: 42px;
gap: 0px;
padding: 23px;
opacity: 0px;
color: #FAFAFA;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

} 
.womencollectiononly p{
    padding: 20px;
    width: 255px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    color: #FAFAFA;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.mainspeakerPerfume{
    width: Hug (570px)px;
height: Hug (284px)px;
gap: 30px;
opacity: 0px;
display: flex;
}
.rightbottomperfume{
    margin-left: -590px;
    margin-top: 270px;
    width: 272px;

height: 240px;
gap: 0px;
border-radius: 4px 5px 4px 5px;
opacity: 0px;
background-color: #0D0D0D;
}

.speakerstext{
    width: Hug (191px)px;
height: Hug (85px)px;
top: 175px;
left: 24px;
gap: 8px;
opacity: 0px;

}
.speakerfinal{
    width: Hug (191px)px;
height: Hug (53px)px;
gap: 8px;
opacity: 0px;

}
.speakerfinal p{
    color: #DB4444;
    width: 114px;
height: 24px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.speakerfinal #speakeramazon{
    color: #DB4444;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 191px;
height: 21px;
gap: 0px;
opacity: 0px;

}
.speakerShopNow{
    width: Hug (81px)px;
height: Hug (24px)px;
gap: 0px;
opacity: 0px;

}
.speakerShopNow a{
    width: 81px;
height: 24px;
gap: 0px;
opacity: 0px;
color: #DB4444;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.speakerimage{
    width: 210px;
    height: 222px;
    top: 31px;
    left: 30px;
    padding: 0px 10px 1px 10px;
    gap: 0px;
    opacity: 0px;
    margin-top: -110px;
    margin-left: 30px;
  

    

}
.speakerimage img{
    width: 190px;
    height: 221px;
    justify-content: center;
    align-items: center;
   
    
}
.rightbottospeaker{
    /* padding: 20px; */
    margin-left: -13px;
    margin-top: 270px;
    width: 272px;
height: 240px;
gap: 0px;
border-radius: 4px 5px 4px 5px;
opacity: 0px;
background-color: #000000;
}

.perfumeimage{
    width: 210px;
    height: 222px;
    top: 31px;
    left: 30px;
    padding: 0px 10px 1px 10px;
    gap: 0px;
    opacity: 0px;
    margin-top: 20px;
    margin-left: 30px;
}

.perfumeimage img{
    width: 201px;
height: 203px;
top: 8px;
left: 4px;
gap: 0px;
opacity: 0px;

}
