.mainPart{
    
    width: 943px;
height: 161px;
top: 5161px;
left: 249px;
gap: 88px;
opacity: 0px;
padding: 100px;
margin-top: 50px;
display: flex;

}
.freeandfast{
    width: 249px;
height: 161px;
gap: 24px;
opacity: 0px;
display: flex;

}
.service{
    width: 80px;
height: 80px;
gap: 0px;
opacity: 0px;


}
.blackcircle{
    border-radius: 50px;
    width: 40px;
height: 40px;
top: 20px;
left: 20px;
gap: 0px;
opacity: 0px;
background-color: #2F2E30;
justify-content: center;
display: block;
margin-top: -48px;
margin-left: 7px;
}
.blackcircle img{
    border-radius: 25px;
    height: 25px;
    width: 25px;
    justify-content: center;
display: block;
padding: 7.5px;

}
.greycircle{
    border-radius: 100%;
    width: 40px;
height: 40px;
justify-content: center;
display: block;
padding: 7.5px;
background: linear-gradient(45deg,#fff 0%,#444345 100%);
opacity: 0px;
}

.textfreeandfast{
    width: 249px;
height: 57px;
gap: 8px;
opacity: 0px;
margin-top: -110px;
margin-left:  -80px;
}

.textfreeandfast p{

    width: 242px;
height: 28px;
gap: 0px;
opacity: 0px;

font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

#free{
    margin-top: -13px;
    width: 249px;
height: 21px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}